{% extends 'base.html' %}

{% block content %}
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">SERIAL NUMBER</th>
        <th scope="col">DPN</th>
        <th scope="col">DATE</th>
        <th scope="col">STATUS</th>
      </tr>
    </thead>
    <tbody>
      {% for el in active.items %}
      <tr>
        <th scope="row">{{ el.id }}</th>
        <td>{{ el.serial_number }}</td>
        <td>{{ el.dpn }}</td>
        <td>{{ el.create_date.strftime("%Y-%m-%d %H:%M:%S") }}</td> 
        <td>{{ el.status.value }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

    <!-- Pagination button -->
<nav aria-label="...">
  <ul class="pagination justify-content-center">  
    {% for page_num in active.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
      {% if active.page == page_num %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for('main.active_return', page=page_num) }}"> {{ page_num }}</a>
        </li>
      {% else %}  
        <li class="page-item active">
          <a class="page-link" href="{{ url_for('main.active_return', page=page_num) }}"> {{ page_num }}</a>
        </li>
      {% endif %} 
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">...</span>
    </li>
    {% endif %}
    {% endfor %} 
  </ul>
</nav>
{% endblock %}