{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form method="POST">
    <div class="form-row">      
      <div class="col-md-3 mb-3">
          <legend class="border-bottom mb-4">Пошук контактів для SAP номера:</legend>
        <input type="text" class="form-control" id="search_sap" placeholder="SAPNUMBER" name="search_sap">
      </div>
    </div>
    <button class="btn btn-outline-info mb-3" type="submit">Знайти</button>
  </form>
  <legend class="border-top mb-4"></legend>
  <table class="table table-sm">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Для  SAP номера: </th>
        <th scope="col">Вам побтрібні наступні контакти:</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ search_result.sap_number }}</th>
        <th scope="row">
          {% for el in search_result.contacts %}
            {{ el.description }}
          {% endfor %}
        </th>
      </tr>
    </tbody>
  </table>
  <legend class="border-bottom mb-4"></legend>
</div>

{% endblock %}