{% extends 'base.html' %}

{% block content %}
<div class="container">
  <form method="POST">
    <div class="form-row">      
      <div class="col-md-3 mb-3">
        <h2>
          <label for="search_sap">Search contacts for SAP NUMBER:</label>
        </h2>
        <input type="text" class="form-control" id="search_sap" placeholder="SAPNUMBER" name="search_sap">
      </div>
    </div>
    <button class="btn btn-primary mb-4" type="submit">FIND</button>
  </form>
  
    <table id="check-info">
        <tr>
          <th>FOR SAPNUMBER: </th>
          <th>YOU NEED NEXT CONTACTS:</th>
        </tr>
        <tr>
          <td>{{ search_result.sap_number }}</td>
          <td>
            {% for el in search_result.contacts %}
              {{ el.description }}
            {% endfor %}
          </td>
        </tr>
    </table>
    
  
</div>

{% endblock %}