{% extends 'base.html' %}

{% block content %}
<table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">SAP NUMBER</th>
      <th scope="col">APTIV Contacts</th>
      <th scope="col">APTIV Contacts</th>
    </tr>
  </thead>
  <tbody>
    {% for num in numbers %}
        <tr>
          <th scope="row">{{ num.id }}</th>
          <td>{{ num.sap_number }}</td>
          {% for el in num.contacts %}
            <td>{{ el.description }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
  </tbody>
</table>
{% endblock %}